.110_27 { 
	overflow:hidden;
}
.e110_27 { 
	background-color:rgba(253.0000001192093, 249.00000035762787, 238.00000101327896, 1);
	width:1600px;
	height:900px;
	position:absolute;
}
.e110_47 { 
	background-image:url(../src/main/resources/static/images/image_1.png);
	width:1179px;
	height:900px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e110_48 { 
	width:616px;
	height:173.11428833007812px;
	position:absolute;
	left:282px;
	top:363px;
}
.e110_49 { 
	color:rgba(253.0000001192093, 249.00000035762787, 238.00000101327896, 1);
	width:616px;
	height:173.11428833007812px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e110_50 { 
	color:rgba(253.0000001192093, 249.00000035762787, 238.00000101327896, 1);
	width:548px;
	height:46px;
	position:absolute;
	left:34px;
	top:108px;
	font-family:Montserrat;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}
.e110_80 { 
	width:219px;
	height:94px;
	position:absolute;
	left:1287px;
	top:685px;
}
.e110_81 { 
	width:219px;
	height:19px;
	position:absolute;
	left:0px;
	top:75px;
}
.110_82 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e110_82 { 
	width:46px;
	height:0px;
	position:absolute;
	left:171px;
	top:17px;
}
.e110_83 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 0);
	width:48px;
	height:17px;
	position:absolute;
	left:171px;
	top:2px;
}
.e110_84 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e110_85 { 
	width:211px;
	height:54px;
	position:absolute;
	left:2px;
	top:0px;
}
.e110_86 { 
	background-image:linear-gradient(0deg, rgba(34.00000177323818, 124.00000020861626, 158.00000578165054, 1) 0%,rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 0.6399999856948853) 100%) ;
	width:211px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:33px;
	border-top-right-radius:33px;
	border-bottom-left-radius:33px;
	border-bottom-right-radius:33px;
}
.e110_87 { 
	color:rgba(255, 255, 255, 1);
	width:99px;
	height:29px;
	position:absolute;
	left:56px;
	top:13px;
	font-family:Montserrat;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e110_88 { 
	width:304px;
	height:386px;
	position:absolute;
	left:1244px;
	top:222px;
}
.e110_89 { 
	width:300px;
	height:60.00002670288086px;
	position:absolute;
	left:4px;
	top:326px;
}
.e110_90 { 
	background-color:rgba(236.93750202655792, 232.4620109796524, 220.15442579984665, 1);
	width:300px;
	height:30px;
	position:absolute;
	left:0px;
	top:30px;
}
.e110_91 { 
	transform: rotate(0.000005008956130975318deg);
	width:300px;
	height:0px;
	position:absolute;
	left:0px;
	top:60px;
}
.110_91 { 
	border:1px solid rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 1);
}
.e110_92 { 
	color:rgba(0, 0, 0, 1);
	width:270px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e110_93 { 
	width:300px;
	height:59.00002670288086px;
	position:absolute;
	left:3px;
	top:245px;
}
.e110_94 { 
	background-color:rgba(236.93750202655792, 232.4620109796524, 220.15442579984665, 1);
	width:300px;
	height:30px;
	position:absolute;
	left:0px;
	top:29px;
}
.e110_95 { 
	transform: rotate(0.000005008956130975318deg);
	width:300px;
	height:0px;
	position:absolute;
	left:0px;
	top:59px;
}
.110_95 { 
	border:1px solid rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 1);
}
.e110_96 { 
	color:rgba(0, 0, 0, 1);
	width:154px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e110_97 { 
	width:300px;
	height:58px;
	position:absolute;
	left:0px;
	top:164px;
}
.e110_98 { 
	background-color:rgba(236.93750202655792, 232.4620109796524, 220.15442579984665, 1);
	width:300px;
	height:30px;
	position:absolute;
	left:0px;
	top:28px;
}
.e110_99 { 
	transform: rotate(0.000005008956130975318deg);
	width:300px;
	height:0px;
	position:absolute;
	left:0px;
	top:58px;
}
.110_99 { 
	border:1px solid rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 1);
}
.e110_100 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e110_101 { 
	width:300px;
	height:58.00002670288086px;
	position:absolute;
	left:1px;
	top:82px;
}
.e110_102 { 
	background-color:rgba(236.93750202655792, 232.4620109796524, 220.15442579984665, 1);
	width:300px;
	height:30px;
	position:absolute;
	left:0px;
	top:28px;
}
.e110_103 { 
	transform: rotate(0.000005008956130975318deg);
	width:300px;
	height:0px;
	position:absolute;
	left:0px;
	top:58px;
}
.110_103 { 
	border:1px solid rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 1);
}
.e110_104 { 
	color:rgba(0, 0, 0, 1);
	width:138px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e110_105 { 
	width:300px;
	height:58px;
	position:absolute;
	left:2px;
	top:0px;
}
.e110_106 { 
	background-color:rgba(236.93750202655792, 232.4620109796524, 220.15442579984665, 1);
	width:300px;
	height:30px;
	position:absolute;
	left:0px;
	top:28px;
}
.e110_107 { 
	transform: rotate(0.000005008956130975318deg);
	width:300px;
	height:0px;
	position:absolute;
	left:0px;
	top:58px;
}
.110_107 { 
	border:1px solid rgba(33.99999797344208, 123.99997740983963, 158.00000578165054, 1);
}
.e110_108 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e110_109 { 
	color:rgba(0, 0, 0, 1);
	width:253px;
	height:59px;
	position:absolute;
	left:1269px;
	top:132px;
	font-family:Montserrat;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
